body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/imgs/city.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  display: flex;
}

.login {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.login-box {
  min-width: 40vw;
  display: inline-block;
  border-radius: 20px;
  background-color: rgba(211, 221, 237, 0.5);
}

.title {
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid black;
}

#title {
  margin: 0px;
  font-family: coco-gothic;
}
