body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/imgs/city2.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  display: flex;
}

header {
  display: block;
}

form {
  text-align: center;
  padding: 10px;
}

.login {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo {
  margin: 0px;
  display: inline;
}

#logo {
  width: 30%;
  height: 30%;
}

.login-box {
  min-width: 40vw;
  display: inline-block;
  border-radius: 20px;
  background-color: rgba(211, 221, 237, 0.6);
}

.title {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
  font-family: coco-gothic;
}

.input-group {
  margin: 10px;
  height: 24px;
}

.button-group {
  margin: 20px;
}

.fa-icon {
  padding: 4px;
  width: 20px;
  text-align: center;
  background-color: #a4b1c4;
  display: inline-block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: -4px;
}

.fa-input {
  height: 100%;
  width: 70%;
  padding-left: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  font-family: exo;
  font-size: 12px;
}

.bttn {
  background-color: rgba(255,0,0,0.0);
  display: inline;
  border: none;
  height: 40px;
  font-family: coco-gothic;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.38);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.38);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.38);

}

.register {
  background-color: #939eaf;
}

#title {
  margin: 0px;
  font-family: coco-gothic;
  font-weight: normal;
}
