/* GENERAL STYLES */
body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #d0d7e2;
}

a {
  text-decoration: none;
  color: inherit;
}

li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.fa-caret-down {
  color: white;
}

/* end of general */

/* LOGIN PAGE */

.login-body {
  background-image: url('../assets/imgs/nature-blur.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.login {
  display: flex;
  height: 80vh;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.division {
  display: flex;
  width: 2px;
  margin-right: 100px;
  background-color: black;
}

.login-box {
  min-width: 40vw;
  border-radius: 5px;
  position: relative;
  background-color: rgba(247, 246, 244, 0.85);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.img {
  text-align: center;
}

#logo {
  width: 40%;
  height: 40%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.form {
  text-align: center;
  padding: 10px;
}

.title {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
  font-family: coco-gothic;
}

.input-group {
  margin: 10px;
  height: 35px;
  display: flex;
  justify-content: center;
}

.fa-icon {
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.login-box .fa-input {
  display: flex;
  width: 200px;
  padding: 0px;
  margin: 0px;
  border: none;
  border-bottom: thin solid black;
  background-color: rgba(0,0,0,0.0);
  padding-left: 5px;
  font-family: exo;
  font-size: 12px;
  outline: none;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f24d4d;
  font-family: coco-gothic;
}

.fa-exclamation-circle {
  margin-right: 5px;
}

.bttn {
  background-color: rgba(255,0,0,0.0);
  border: none;
  min-width: 80px;
  height: 40px;
  font-family: coco-gothic;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.38);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.38);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.38);

}

.default-button {
  background-color: #939eaf;
}

.primary-button {
  background-color: #648ed1;
}

#title {
  margin: 0px;
  font-family: coco-gothic;
  font-weight: normal;
}

/* end of login page */

/* TOP NAVBAR */

.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  background-color: #051d42;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.button-top-navbar {
  display: flex;
  justify-content: center;
  min-width: 10vw;
}

.logo-top-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

  -webkit-filter: drop-shadow(3px 3px 3px black);
  filter: drop-shadow(3px 3px 3px black);
}

.logo-navbar {
  width: 100%;
  height: auto;
  max-width: 32px;
  cursor: pointer;
}

.logout-top-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

#logout-top-navbar-button {
  color: white;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

.userMenu {
  position: absolute;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 11;
  width: 200px;
}

.userMenu li {
  color: white;
  margin: 20px;
  font-family: coco-gothic;
}

.appear-sidebar {
  font-size: 20px;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 5px black;
}

/* end of top navbar */

/* SIDE NAVBAR */

.side-navbar {
  display: flex;
  position: fixed;
  height: 93vh;
  min-width: 25vw;
  justify-content: center;
  background-color: rgba(0,0,0,0.9);
  z-index: 9;
}

.list-side-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: coco-gothic;
  color: white;
}

.logout-top-navbar button, .side-navbar button {
  background-color: rgba(0,0,0,0);
  border: none;
}

.subCategory {
  padding-left: 20px;
  margin: 10px;
  margin-top: 30px;
  font-size: 12px;
}

/* end of side navbar */


/* DASHBOARD PAGE */

.dashboard-body {
  display: flex;
  justify-content: flex-start;
  padding-top: 7vh;
  width: 100%;
}

.dashboard-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  overflow: auto;
}

.dashboard-frame {
  margin: 10px;
  height: 40vh;
  flex-shrink: 10;
  max-height: 300px;
  width: 250px;
  background-color: white;

  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.dashboard-frame .title {
  border-bottom: none;
}

#todo-frame .title  {
  background-color: #f44242;
}

#news-frame .title {
  background-color: #fc9e40;
}

#sales-frame .title {
  background-color: #41aefc;
}

#userbase-frame .title {
  background-color: #6940fc;
}

#profit-frame .title {
  background-color: #40fc8e;
}

#loss-frame .title {
  background-color: #fc4040;
}

.todo-list, .news-list li {
  font-family: Arial;
}

.todo-list li, .news-list li {
  padding: 10px;
}

.task-local, .task-time {
  font-size: 12px;
}

.todo-list li:hover, .news-list li:hover{
  background-color: #a8b2c1;
}

.news-list li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.scrollable-area {
  overflow-y: scroll;
  height: 80%;
}

.li-even {
  background-color: #d0d8e5;
}

.chart {
  height: 70%;
  width: 90%;
  margin: 0 auto;
  padding-top: 5px;
}

.canvasjs-chart-credit {
  display: none;
}

/* end of dashboard page */

/* COMPANIES PAGE */

.companies-content {
  display: flex;
  padding-top: 20px;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  /*overflow: auto;*/
  width: 100%;
}

.companies-title {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: coco-gothic;
  font-size: 30px;
}

.companies-title .title {
  border: none;
}

.companies-options {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-top: 10px;
  width: 80%;
}

.companies-option {
  display: flex;
  width: 100%;
  border-radius: 30px;
  flex-direction: column;
  border: thin solid black;
}

.companies-option-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: caviar;
  height: 40px;
}

.companies-option-description {
  margin-left: 20px;

}

.companies-option-caret {
  margin-right: 20px;
}

.companies-option-caret .fa-caret-down {
  color: black;
}

.companies-expand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;

  border: thin solid black;
}
/* end of companies page */

/* EDIT USER */

.editUser-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  height: 100%;
  width: 100vw;
}

.editUser-frame {
  display: flex;
  /*min-height: 80vh;*/
  border: thin solid black;
}

#editInfo {
  /*min-width: 60vw;
  min-height: 80vh;*/
}

#editPass {
  /*min-width: 40vw;
  min-height: 60vh;*/
}

/* end of edit user */
