body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/imgs/city2-blur.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  display: flex;
}

textarea, input, button {
  border: thin solid black;
  outline: inherit;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.login {
  display: flex;
  height: 80vh;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: stretch;
}

.division {
  display: flex;
  width: 2px;
  margin-right: 100px;
  background-color: black;
}

.login-box {
  min-width: 40vw;
  display: inline-block;
  border-radius: 20px;
  background-color: rgba(211, 221, 237, 0.6);
}

.logo {
  display: flex;
}

.img {
  height: 100%;
  text-align: center;
}

#logo {
  width: 40%;
  height: 40%;
  text-align: center;
  margin: 0 auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.form {
  text-align: center;
  padding: 10px;
}

.title {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
  font-family: coco-gothic;
}

.input-group {
  margin: 10px;
  height: 35px;
  display: flex;
  justify-content: center;
}

.fa-icon {
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 100%;
  text-align: center;
  /*background-color: #a4b1c4;*/
  background-color: rgba(0,0,0,0.0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.fa-input {
  display: flex;
  width: 200px;
  padding: 0px;
  margin: 0px;
  /*border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;*/
  border: none;
  border-bottom: thin solid black;
  background-color: rgba(0,0,0,0.0);
  padding-left: 5px;
  font-family: exo;
  font-size: 12px;
}

.fa-input:focus {
  border: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: grey;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f24d4d;
  font-family: coco-gothic;
}

.fa-exclamation-circle {
  margin-right: 5px;
}

.bttn {
  background-color: rgba(255,0,0,0.0);
  display: inline;
  border: none;
  height: 40px;
  font-family: coco-gothic;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.38);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.38);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.38);

}

.register {
  background-color: #939eaf;
}

.login-btn {
  background-color: #648ed1;
}

#title {
  margin: 0px;
  font-family: coco-gothic;
  font-weight: normal;
}
